In [118]:
import pandas as pd
import numpy as np
from scipy.stats import circmean

In [119]:
def organizaSTA(station):
    STAlist=[]
    for i,sta in enumerate(station):
        if i ==0: 
            STAlist.append(sta)
            temp_STA=sta
        elif temp_STA!=sta:
            STAlist.append(sta)
            temp_STA=sta
    return STAlist

In [124]:
DIR='/Users/tong/Documents/Master/Map_2021/DataBase'
file=f'{DIR}/Kaviani_etal_dead_sea_fault_desert.csv'
df=pd.read_csv(file)

In [125]:
station=df['Station']
STAlist=organizaSTA(station)

In [126]:
STAlonlist=[];STAlatlist=[];phimeanlist=[];dtmeanlist=[]
for STA in STAlist:
    print(STA)
    stlon=df['Sta_Lon'][df['Station']==STA].values[0]
    stlat=df['Sta_Lat'][df['Station']==STA].values[0]
    phi=(df['Phi(Â°)'][df['Station']==STA]).tolist();
    dt=(df['dt (s)'][df['Station']==STA]).tolist();
    if 'Null' in phi:
        phi=[x for x in phi if x != 'Null']
        dt=[x for x in dt if x != 'Null']
    phi=list(map(float, phi))
    dt=list(map(float, dt))
    phi_mean=np.mean(phi)
    dt_mean=np.mean(dt)
    STAlonlist.append(stlon)
    STAlatlist.append(stlat)
    phimeanlist.append(phi_mean)
    dtmeanlist.append(dt_mean)

newdf=pd.DataFrame({'Station': STAlist,
                   'Sta_Lat':STAlatlist,
                   'Sta_Lon':STAlonlist,
                   'Phi':phimeanlist,
                   'dt':dtmeanlist})
newdf.to_csv(f'{DIR}/Kaviani_etal_dead_sea_fault_desert_averaged.csv',index=False)

ID01
ID03
ID06
ID07
ID08
ID10
ID12
ID21
ID25
ID27
ID28
ID31
ID32
ID33
JD02
JD06
JD08
JK02
JK05
JS02
JS03
JS04
JS05
JS06
JS07
JW01
JW04
JW07
JW09
JW3X

In [127]:
newdf

   Station  Sta_Lat  Sta_Lon        Phi      dt
0     ID01    31.20    34.54        NaN     NaN
1     ID03    31.14    34.78        NaN     NaN
2     ID06    30.56    35.18   4.500000  0.9100
3     ID07    30.79    34.77   2.500000  1.3225
4     ID08    30.60    34.79  -1.000000  1.3400
5     ID10    31.36    34.49  12.000000  1.5200
6     ID12    30.99    34.92   1.000000  1.2400
7     ID21    30.33    34.95   6.000000  1.1800
8     ID25    31.19    34.32  -1.500000  1.3500
9     ID27    30.66    35.24  -0.500000  1.4400
10    ID28    30.36    35.16   9.750000  1.6775
11    ID31    30.08    35.13   6.000000  1.5000
12    ID32    29.97    35.06        NaN     NaN
13    ID33    29.91    35.00  13.000000  1.6350
14    JD02    30.81    35.41   8.000000  1.9650
15    JD06    30.09    35.21  16.000000  1.5400
16    JD08    29.72    35.05  -9.500000  0.9750
17    JK02    30.57    35.56   7.000000  1.4550
18    JK05    30.24    35.48   6.000000  1.3000
19    JS02    30.29    36.24   9.500000  1.5100
20    JS03    29.94    36.14        NaN     NaN
21    JS04    29.30    35.95        NaN     NaN
22    JS05    29.43    35.81   3.666667  1.3200
23    JS06    29.53    35.60   8.000000  1.5800
24    JS07    29.42    35.39  15.000000  1.4950
25    JW01    30.87    35.97   1.750000  1.3775
26    JW04    30.33    35.77  10.000000  1.3000
27    JW07    30.00    35.50 -10.500000  0.5600
28    JW09    29.68    35.32  13.000000  1.6200
29    JW3X    30.59    35.77  10.000000  1.4200

In [99]:
qqq.values[0]

35.3921